<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="src-rules" ToolsVersion="16.0">
  <Include Path="all-rules.ruleset" Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1303" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0003WithoutSuggestion" Action="None" />
    <Rule Id="IDE0058" Action="None" />
    <Rule Id="IDE0058WithoutSuggestion" Action="None" />
    <Rule Id="IDE0063" Action="None" />
    <Rule Id="IDE0063WithoutSuggestion" Action="None" />
    <Rule Id="IDE0065" Action="None" />
    <Rule Id="IDE0065WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0003WithoutSuggestion" Action="None" />
    <Rule Id="IDE0058" Action="None" />
    <Rule Id="IDE0058WithoutSuggestion" Action="None" />
    <Rule Id="IDE0063" Action="None" />
    <Rule Id="IDE0063WithoutSuggestion" Action="None" />
    <Rule Id="IDE0065" Action="None" />
    <Rule Id="IDE0065WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>